/**
 * Base Styles
 * The overall tags style is written here. 
 */
body {
  font-family: "Helvetica Neue", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "sans-serif";
}

a {
  text-decoration: none;
}

h2:first-letter {
  border-bottom: solid 3px;
  font-size: 1.35em;
}

h3, h4 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

img {
  height: 100%;
  width: 100%;
}

a, button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* no highlighting */
}

button {
  cursor: pointer;
}


/**
 * Layout Styles
 * The style of the chunk position is written here.
 */
header {
  align-items: center;
  height: 63px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

main {
  margin: 0 16px;
  padding-top: 64px;
}

footer {
  border-top: 1px solid;
  height: 32px;
}



/**
 * Component Styles
 * The component style is written here.
 */

/* overall component */
.card {
  border-radius: 6px;
  padding: 16px;
}

.linkcard {
  position: relative;
  z-index: 1;
}

.linkcard a, .linkcard button {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

/* header */
.header-logo {
  font-family: "arial black", "Helvetica Neue", sans-serif;
  font-size: 24px;
  padding-left: 32px;
}

.header-line {
  border-bottom: 1px solid;
  margin: 0 16px;
}

/* bio-group */
.bio-group {
  align-items: center;
  display: flex;
  padding: 6px 12px;
}

.bio-icon {
  height: auto;
  margin-right: 1em;
  max-height: 128px;
  max-width: 128px;
  min-height: 64px;
  min-width: 64px;
  width: 30%;
}

picture img {
  border-radius: 100%;
}

.bio-meta {
  height: auto;
  margin: 0 auto;
  width: 75%;
}

.bio-name {
  display: block;
  font-size: 1.2em;
}

.bio-description {
  font-size: .5em;
}

/* btn-group */
.btn-list {
  border-bottom: 1px solid;
  display: flex;
  margin: 0 auto;
  padding: 8px 0;
}

.btn {
  border-radius: 6px;
  height: 30px;
  line-height: 30px;
  margin: 0 6px;
  max-width: 256px;
  width: 100%;
}

.btn-name {
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

/* fact-group */
.fact-list {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0 0;
}

.fact {
  align-items: center;
  display: flex;
  height: 30px;
  line-height: 30px;
  margin: 10px 0;
  width: 33%;
}

.fact-icon {
  max-height: 24px;
  max-width: 24px;
  min-height: 24px;
  min-width: 24px;
  padding-right: 8px;
}

.fact-meta {
  align-items: center;
  line-height: 1;
}

.fact-name {
  display: block;
  font-size: .75em;
}

.fact-value {
  font-size: .5em;
}

/* content-group */
.content-type {
  border-bottom: 2px solid;
  padding-bottom: 8px;
}

.content-list {
  margin-bottom: 0;
}

.youtube {
  height: 0;
  margin: .2em 0;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}

.youtube iframe {
  height: 100% !important;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% !important;
}

/* account-group */
.account {
  align-items: center;
  display: flex;
  margin: .2em 0;
  padding: .5em 1em;
}

.account-icon {
  height: 48px;
  padding-right: 1.6em;
  width: 48px;
}

/* footer */
.copyright {
  font-size: .5em;
  padding-right: 32px;
  text-align: right;
}



/**
 * State Styles
 * The style involved in the state is written here.
 */
.linkcard {
  transition: background-color .05s ease-out;
}

.linkcard:hover {
  background-color: #eee;
}



/**
 * Theme Styles
 * The style of the theme, mainly related to color is written here.
 */

/* overall theme */
body {
  background-color: #f6f6f6;
}

a {
  color: #000;
}

h2::first-letter {
  border-bottom-color: #000;
}

.card, .btn {
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, .4);
}

/* header */
header {
  background-color: rgba(246,246,246,.9);
}

.header-line {
  border-bottom-color: #ccc;
}

/* profile */
picture img {
  box-shadow: 0 0 4px #000;
}

.bio-meta {
  color: #999;
}

.btn-list {
  border-bottom-color: rgba(0, 0, 0, .1);
}

.fact-value {
  color: #666;
}

/* contents */
.content-type {
  border-bottom-color: #ccc;
}

/* accounts */
.account-value {
  color: #666;
}

/* footer */
footer {
  border-top-color: #ccc;
}

.copyright {
  color: #444;
}



/**
 * Responsive Styles
 * The style for responsive design is written here.
 */

/* Mobile S */
@media only screen and (max-device-width : 320px) {
  main {
    margin: 0 auto;
    max-width: 300px;
  }

  .fact {
    align-items: center;
    display: flex;
    width: 49%;
  }
}

/* Mobile M */
@media only screen and (min-device-width : 321px) and (max-device-width : 375px) {
  main {
    margin: 0 auto;
    max-width: 301px;
  }

  .fact {
    align-items: center;
    display: flex;
    width: 49%;
  }
}

/* Mobile L */
@media only screen and (min-width : 376px) and (max-width : 425px) {
  main {
    margin: 0 auto;
    max-width: 356px;
  }

  .fact {
    align-items: center;
    display: flex;
    width: 49%;
  }
}

/* Tablet */
@media only screen and (min-width : 426px) and (max-width : 768px) {
  main {
    margin: 0 auto;
    max-width: 386px;
  }
}

/* LapTop */
@media only screen and (min-width : 769px) and (max-width : 1024px) {
  .l-contents, .l-accounts, .l-profile {
    width: 46%;
  }
  .l-profile, .l-accounts {
    float: left;
    margin-left: 2%;
  }
  .l-contents {
    float: right;
    margin-right: 2%;
  }
  footer {
    clear: both;
  }
}

/* LapTop L */
@media only screen and (min-width : 1025px) {
  main {
    display: flex;
  }
  .l-profile, .l-contents, .l-accounts {
    padding: 16px;
    width: 33%;
  }
  @media (max-width:1100px) {
    .fact {
      align-items: center;
      display: flex;
      width: 49%;
    }
  }
}
